PORT=5000
MONGO_URI=mongodb://localhost:27017/smart-civic

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

GEMINI_API_KEY=your_gemini_api_key

FOLLOW_UP_THRESHOLD_HOURS=24
ESCALATION_THRESHOLD_HOURS=48

SEED_ADMIN_EMAIL=admin@civic.local
SEED_ADMIN_PASSWORD=adminpassword

SEED_ROAD_AUTH_EMAIL=road@civic.local
SEED_ROAD_AUTH_PASSWORD=roadpassword

SEED_SANITATION_AUTH_EMAIL=sanitation@civic.local
SEED_SANITATION_AUTH_PASSWORD=sanitationpassword

SEED_ELECTRICAL_AUTH_EMAIL=electrical@civic.local
SEED_ELECTRICAL_AUTH_PASSWORD=electricalpassword

SEED_WATER_AUTH_EMAIL=water@civic.local
SEED_WATER_AUTH_PASSWORD=waterpassword

SEED_DRAINAGE_AUTH_EMAIL=drainage@civic.local
SEED_DRAINAGE_AUTH_PASSWORD=drainagepassword

SEED_INFRA_AUTH_EMAIL=infra@civic.local
SEED_INFRA_AUTH_PASSWORD=infrapassword
